<header class="main-header" data-ng-controller="HeaderController">
    <!-- Logo -->
    <a href="/#!/home" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"></span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
		<span minimalize-sidebar is-collapsed="isCollapsed"></span>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav" data-ng-show="authentication.user">
                <li class="dropdown user user-menu" ng-include="'/modules/core/views/partials/userNavigation.html'"></li>
                <li class="dropdown" ng-include="'/modules/core/views/partials/langNavigation.html'"></li>
            </ul>
        </div>
    </nav>
</header>
