<header class="main-header" ng-show="authentication.user">
    <!-- Logo -->
    <a href="/#!/home" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
            <b>A</b>LT</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg">
            <b>Admin</b>LTE</span>
    </a>
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
		<span minimaliza-sidebar></span>
        <div class="navbar-custom-menu">
            <!-- START lang menu -->
            <ul class="nav navbar-nav">

            <li class="dropdown" ng-include="'/modules/core/views/langmenu.client.view.html'"></li>

            </ul>
            <!-- END lang menu -->
            <ul class="nav navbar-nav" data-ng-hide="authentication.user">
                <li ui-route="/signup">
                    <a href="/#!/signup" translate="menu.SIGNUP"></a>
                </li>
                <li class="divider-vertical"></li>
                <li ui-route="/signin">
                    <a href="/#!/signin" translate="menu.SIGNIN"></a>
                </li>
                <!-- START lang menu -->
                <li class="dropdown" ng-include="'/modules/core/views/langmenu.client.view.html'"></li>
                <!-- END lang menu -->
            </ul>
            <ul class="nav navbar-nav" data-ng-show="authentication.user">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="hidden-xs" data-ng-bind="authentication.user.displayName"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/#!/settings/profile" translate="menu.EDITPROFILE"></a>
                        </li>
                        <li>
                            <a href="/#!/settings/accounts" translate="menu.SOCIALACCOUNTS"></a>
                        </li>
                        <li data-ng-show="authentication.user.provider === 'local'">
                            <a href="/#!/settings/password" translate="menu.CHANGEPWD"></a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/auth/signout" translate="menu.SIGNOUT"></a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
</header>
