<aside class="main-sidebar" data-ng-controller="HeaderController">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
	<!-- Sidebar user panel -->
	<div class="user-panel" data-ng-show="authentication.user">
	  <div class="pull-left image">
		<img gravatar-src="authentication.user.email" gravatar-size="160" gravatar-default="mm" class="img-circle">
	  </div>
	  <div class="pull-left info">
		<p data-ng-bind="authentication.user.displayName"></p>
	  </div>
	</div>
	<!-- search form -->
	<form action="#" method="get" class="sidebar-form">
	  <div class="input-group">
		<input type="text" name="q" class="form-control" placeholder="Search...">
		<span class="input-group-btn">
		  <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
		</span>
	  </div>
	</form>
	<!-- /.search form -->
	<!-- sidebar menu: : style can be found in sidebar.less -->
	<ul side-navigation id="side-menu" class="sidebar-menu">
		<li class="header">MAIN NAVIGATION</li>
		<li ng-class="{active: $uiRoute}" ui-route="/" >
			<a href="/#!/"><i class="fa fa-home"></i> <span translate="menu.HOME"></span></a>
		<li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ng-switch="item.menuItemType" ui-route="/{{item.link}}" ng-class="{active: $uiRoute}">
			<a href="/#!/{{item.items[0].link}}"><i class="fa {{item.iconClass}}"></i> <span  translate="{{item.title}}"></span></a>
		</li>
	</ul>
  </section>
  <!-- /.sidebar -->
</aside>
