<div class="content" data-ng-controller="PasswordController">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="box box-info">
                <div class="box-body">
                    <h3 class="text-center" translate="user.RESTOREPWD"></h3>
                    <p class="small text-center" translate="user.ENTERACCOUNTUSERNAME"></p>
                    <form data-ng-submit="askForPasswordReset()" class="signin" autocomplete="off">
                        <fieldset>
                            <div class="form-group">
                                <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="{{'user.USERNAME'|translate}}">
                            </div>
                            <div class="text-center form-group">
                                <button type="submit" class="btn btn-primary" translate="global.SUBMIT"></button>
                            </div>
                            <div data-ng-show="error" class="text-center text-danger">
                                <strong>{{error}}</strong>
                            </div>
                            <div data-ng-show="success" class="text-center text-success">
                                <strong>{{success}}</strong>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
