<div class="content" data-ng-controller="PasswordController">
    <div class="login-box">
        <div class="login-logo">
            <a href="#!/home">
        </div>

        <div class="login-box-body">
            <h4 class="text-center" translate="user.RESTOREPWD"></h4>

            <p class="small text-center" translate="user.ENTERACCOUNTUSERNAME"></p>

            <form data-ng-submit="askForPasswordReset()" class="signin" autocomplete="off">
                <div class="form-group has-feedback">
                    <input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="{{'user.USERNAME'|translate}}">
                    <span class="fa fa-user form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-7">
                        <div data-ng-show="error" class="text-center text-danger">
                            <strong>{{error}}</strong>
                        </div>
                        <div data-ng-show="success" class="text-center text-success">
                            <strong>{{success}}</strong>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <button type="submit" class="btn btn-primary btn-block btn-flat" translate="global.SUBMIT"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
