.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
public/lib
public/www/*.css
public/www/*/*.css
public/www/*.js
public/www/*/*.js
public/www/css
public/www/fonts
public/www/img
public/www/js
app/tests/coverage/
.bower-*/
.idea/
public/platforms
public/plugins
