<section class="content">
    <div class="row">
        <div class="col-lg-10">
            <h2 data-ng-bind="homeCtrl.helloText"></h2>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center">
                <div class="image image-container">
                    <img class=" text-center" src="www/img/logo.png" />
                </div>

                <h2>
                    <span class="text-navy">
                        MEAN.JS</span>
                    <span data-ng-bind="homeCtrl.descriptionText"></span>
                </h2>

                <p>
                    MEAN.js is open-source full-stack solution for MEAN (Mongo, Express, Angular, Node) applications:<a class="btn btn-primary btn-xs" href="http://meanjs.org" target="_blank">Learn more</a>
                </p>
            </div>
        </div>
    </div>
</section>
