<ion-nav-view>
    <ion-view view-title="My Page">
        <ion-content>
            <h2>
                    <span class="text-navy">
                        MEAN.JS</span>
                <span data-ng-bind="homeCtrl.descriptionText"></span>
            </h2>

            <p>
                MEAN.js is open-source full-stack solution for MEAN (Mongo, Express, Angular, Node) applications:<a class="btn btn-primary btn-xs" href="http://meanjs.org" target="_blank">Learn more</a>
            </p>
        </ion-content>
    </ion-view>
</ion-nav-view>
