<div class="list-devices">
    <div class="list-group">
        <a data-ng-repeat="device in devicesListCtrl.devices
            | filter: devicesListCtrl.searchText
            | auth: devicesListCtrl.authFiltered"
            data-ng-click="devicesListCtrl.selectFn(device)" class="list-group-item" ng-class="{active: device._id === devicesListCtrl.selected._id}"
            title="{{device.error}}">
            <h4 class="list-group-item-heading">
                <span data-ng-bind="device.ip"></span>
                <span class="pull-right">
                    <small class="label label-default">{{device.manufacturer}} {{device.model}}&nbsp;<i ng-class="device.isReady?'fa fa-circle text-green':'fa fa-circle text-red'"></i>&nbsp;</small>

                </span>
            </h4>
        </a>
    </div>
</div>
