<div class="deviceData">
     <div class="form-group">
        <label class="col-lg-4 control-label" for="name" translate="global.LANGUAGE"></label>
        <div class="col-lg-8">
            <select ng-model="deviceDataCtrl.descLang">
                <option ng-repeat="lang in deviceDataCtrl.languages" value="{{lang.key}}" >{{lang.key|translate}}</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-4 control-label" for="manufacturer" translate="devices.MANUFACTURER"></label>
        <div class="col-lg-8">
            <input type="text" data-ng-model="deviceDataCtrl.device.manufacturer" id="manufacturer" class="form-control"
                   placeholder="{{'devices.MANUFACTURER'|translate}}" required>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-4 control-label" for="model" translate="devices.MODEL"></label>
        <div class="col-lg-8">
            <input type="text" data-ng-model="deviceDataCtrl.device.model" id="model" class="form-control"
                   placeholder="{{'devices.MODEL'|translate}}">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-4 control-label" for="description"><lang-icon class="pull-right" key="deviceDataCtrl.descLang"></lang-icon><span translate="global.DESCRIPTION"></span></label>
        <div class="col-lg-8">
            <textarea  rows="10" cols="5" data-ng-model="deviceDataCtrl.device.description[deviceDataCtrl.descLang]" id="description" class="form-control" placeholder="{{'global.DESCRIPTION'|translate}}"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-4 control-label" for="ip" translate="devices.IP"></label>
        <div class="col-lg-8">
            <input type="text" data-ng-model="deviceDataCtrl.device.ip" id="ip" class="form-control" placeholder="IP">
        </div>
    </div>
    <div class="form-group">
        <label class="col-lg-4 control-label" for="ip" translate="apps.APPS"></label>
        <div class="col-lg-8">
            <apps-list apps="deviceDataCtrl.device.apps" ng-if="!deviceDataCtrl.loading.apps" editable="true"></apps-list>
        </div>
    </div>


</div>
