<div class="row">
    <div class="col-lg-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title" translate="devices.CREATENEW"></h3>
            </div>
            <form class="form-horizontal" data-ng-submit="deviceCreateCtrl.create()" novalidate>
                <div class="box-body">

                    <device-data device="deviceCreateCtrl.device" loading="deviceCreateCtrl.loading"></device-data>
                    <div data-ng-show="deviceCreateCtrl.error" class="text-danger">
                        <strong data-ng-bind="deviceCreateCtrl.error"></strong>
                    </div>
                </div>
                <div class="box-footer text-right">
                    <a class="btn btn-sm btn-default" data-ng-click="deviceCreateCtrl.cancel();" translate="global.CANCEL"></a>
                    <button class="btn btn-sm btn-primary" type="submit"><strong translate="global.CREATE"></strong></button>
                </div>
            </form>
        </div>
    </div>
</div>
