<div class="ctrl-wrap" data-ng-init="devicesCtrl.loadAll()">
    <section class="content-header">
            <h1 translate="devices.DEVICES"></h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-lg-4 animated fadeIn">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title"><span data-ng-bind="devicesCtrl.devices.length"></span> <span translate="devices.DEVICESLENGTH"></span></h3>
                        <div class="box-tools pull-right">
                            <a class="btn btn-box-tool" data-ng-click="devicesCtrl.reload();">
                                <i class="fa fa-refresh"></i>
                            </a>
                            <a class="btn btn-box-tool" data-ng-click="devicesCtrl.create();">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="input-group m-b"><span class="input-group-addon"><i class="fa fa-search"></i></span> <input ng-model="devicesCtrl.searchText" type="text" placeholder="{{ 'global.SEARCH' | translate}}" class="form-control"></div>
                        <label><input type="checkbox" ng-model="devicesCtrl.hideDevicesNotCreatedByAuthedUser" />
                          Hide devices not created by you
                        </label>
                        <hr/>
                        <devices-list selected="devicesCtrl.selected" search-text="devicesCtrl.searchText" devices="devicesCtrl.devices"
                          on-device-select="devicesCtrl.select"
                          hide-devices-not-created-by-authed-user="devicesCtrl.hideDevicesNotCreatedByAuthedUser"></devices-list>
                        <div class="alert alert-warning text-center" data-ng-hide="!devicesCtrl.devices.$resolved || devicesCtrl.devices.length" translate="global.NODATASETS"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div ui-view="view"></div>
                <div ui-view="edit"></div>
                <div ui-view="create"></div>
            </div>
        </div>
	</section>
</div>
