<ion-view title="{{ 'apps.APPS' | translate}}">
    <ion-nav-buttons side="primary">
        <button class="button button-icon icon ion-ios-minus-outline"
                ng-click="appsCtrl.showDelete = !appsCtrl.showDelete; appsCtrl.showReorder = false"></button>
        <button class="button" ng-click="appsCtrl.showDelete = false; appsCtrl.showReorder = !appsCtrl.showReorder" translate="global.REORDER">

        </button>
    </ion-nav-buttons>
    <ion-content data-ng-init="appsCtrl.loadAll()">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input ng-model="appsCtrl.searchText" type="search" placeholder="{{ 'global.SEARCH' | translate}}" >
            </label>
            <apps-list editable="true" apps="appsCtrl.apps" search-text="appsCtrl.searchText" selected="appsCtrl.selected" on-app-select="appsCtrl.select" edit-app-fn="appsCtrl.edit" show-delete="appsCtrl.showDelete" show-reorder="appsCtrl.showReorder" on-app-delete="appsCtrl.delete" ></apps-list>
            <div class="alert alert-warning text-center" data-ng-hide="!appsCtrl.apps.$resolved || appsCtrl.apps.length" translate="global.NODATASETS"></div>
    </ion-content>
</ion-view>
