<div class="content" data-ng-controller="SettingsController">
    <div class="login-box">
        <div class="login-logo">
            <a href="#!/home">
        </div>

        <div class="login-box-body">
            <h3 class="text-center" data-ng-show="hasConnectedAdditionalSocialAccounts()" translate="user.CONNECTSOCIAL"></h3>

            <div class="text-center">
                <div data-ng-repeat="(providerName, providerData) in user.additionalProvidersData" class="remove-account-container">
                    <i class="fa fa-{{providerName}}"></i>
                    <a class="btn btn-danger btn-remove-account" data-ng-click="removeUserSocialAccount(providerName)">
                        <i class="fa fa-trash-o"></i>
                    </a>
                </div>
            </div>

            <div class="social-auth-links text-center">
                <h4 translate="user.CONNECTSOCIALOTHER"></h4>
                <a href="/auth/facebook" class="btn btn-block btn-social btn-facebook btn-flat">
                    <i class="fa fa-facebook"></i>
                    Sign up using Facebook</a>
                <a href="/auth/google" class="btn btn-block btn-social btn-google btn-flat">
                    <i class="fa fa-google-plus"></i>
                    Sign up using Google+</a>
            </div>
        </div>
    </div>
</div>
