<div class="list-apps">
    <ion-list
            show-delete="appsListCtrl.showDelete"
            show-reorder="appsListCtrl.showReorder"
            can-swipe="listCanSwipe">
        <ion-item ng-repeat="app in appsListCtrl.apps| filter:appsListCtrl.searchText" >

            showDelete:{{appsCtrl.showDelete}}
            <h2>{{app.name}}</h2>

            <ion-option-button ng-if="appsListCtrl.editable" class="button-info"
                               ng-click="appsListCtrl.edit(app)" translate="global.EDIT">

            </ion-option-button>
            <ion-delete-button class="ion-minus-circled"
                               ng-click="appsListCtrl.onItemDelete(app)">
            </ion-delete-button>
            <ion-reorder-button class="ion-navicon" on-reorder="appsListCtrl.moveItem(app, $fromIndex, $toIndex)">
            </ion-reorder-button>

        </ion-item>
    </ion-list>
</div>


