<div class="ctrl-wrap" data-ng-init="appsCtrl.loadAll()">
    <section class="content-header">
            <h1 translate="apps.APPS"></h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-lg-4 animated fadeIn">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title"><span data-ng-bind="appsCtrl.apps.length"></span> <span translate="apps.APPSLENGTH"></span></h3>
                        <div class="box-tools pull-right">
                            <a class="btn btn-box-tool" data-ng-click="appsCtrl.reload();">
                                <i class="fa fa-refresh"></i>
                            </a>
                            <a class="btn btn-box-tool" data-ng-click="appsCtrl.create();">
                                <i class="fa fa-plus"></i>
                            </a>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="input-group"><span class="input-group-addon"><i class="fa fa-search"></i></span> <input ng-model="appsCtrl.searchText" type="text" placeholder="{{ 'global.SEARCH' | translate}}" class="form-control"></div>
                        <label><input type="checkbox" ng-model="appsCtrl.hideAppsNotCreatedByAuthedUser" />
                          Hide apps not created by you
                        </label>
                        <hr/>
                        <apps-list apps="appsCtrl.apps" search-text="appsCtrl.searchText" selected="appsCtrl.selected"
                        on-app-select="appsCtrl.select" is-app-created-by-authed-user="appsCtrl.isAppCreatedByAuthedUser"
                        hide-apps-not-created-by-authed-user="appsCtrl.hideAppsNotCreatedByAuthedUser">
                        </apps-list>
                        <div class="alert alert-warning text-center" data-ng-hide="!appsCtrl.apps.$resolved || appsCtrl.apps.length" translate="global.NODATASETS"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div ui-view="view"></div>
                <div ui-view="edit"></div>
                <div ui-view="create"></div>
            </div>
        </div>
	</section>
</div>
