<div>
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" ng-model="searchMenu.title" class="form-control" placeholder="Search...">
		<span class="input-group-btn">
		  <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
		</span>
        </div>
    </form>
    <!-- /.search form -->
    <ul ng-hide="isCollapsed" id="side-menu" class="sidebar-menu">
        <li ng-show="item.inSearch" ui-sref-active="active" ui-sref="{{item.link}}" class="treeview" data-ng-repeat="item in menu.items | translateFilter: searchMenu.title | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ui-route="/{{item.link}}">
            <a href="#"><i class="fa {{item.iconClass}}"></i> <span class="nav-label" translate="{{item.title}}"></span> <span ng-show="item.items.length>0" class="fa fa-angle-left pull-right"></span></a>

            <ul ng-show="item.items.length>0" class="treeview-menu">
                <li ui-sref-active="active" ui-sref="{{subitem.link}}" role="presentation" data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}">
                    <a role="menuitem" href="/#!/{{subitem.link}}"><span translate="{{subitem.title}}"></span></a>
                </li>
            </ul>
        </li>
    </ul>

    <ul ng-show="isCollapsed" id="side-menu-collapsed" class="sidebar-menu">
        <li ng-show="item.inSearch" ui-sref-active="active" ui-sref="{{item.link}}" class="treeview" data-ng-repeat="item in menu.items | translateFilter: searchMenu.title | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user);" ui-route="/{{item.link}}">
            <a href="#"><i class="fa {{item.iconClass}}"></i> <span class="nav-label" translate="{{item.title}}"></span></a>

            <ul ng-if="item.items.length>0" class="treeview-menu in">
                <li ng-show="item.inSearch" ui-sref-active="active" ui-sref="{{subitem.link}}" role="presentation" data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" ui-route="{{subitem.uiRoute}}">
                    <a role="menuitem" href="/#!/{{subitem.link}}"><span translate="{{subitem.title}}"></span></a>
                </li>
            </ul>
        </li>
    </ul>
</div>
