<div class="appsModal">
    <div class="modal-header">
        <h3 class="modal-title" translate="apps.APP"></h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-warning" ng-if="!apps.length" translate="apps.NOAPPTOSELECT">

        </div>
        <div class="list-items" ng-if="apps.length>0">
            <apps-list selected="selected" apps="apps" on-app-select="select"></apps-list>
            <div ng-if="selected._id">
                <span translate="global.YOURSELECTION"></span>: <b data-ng-bind="selected.name"></b> <b data-ng-bind="selected.port"></b>
            </div>
            <div ng-if="!selected._id" translate="apps.PLEASESELECTAPP">
            </div>
        </div>


    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()" translate="global.OK"></button>
        <button class="btn btn-default" type="button" ng-click="cancel()" translate="global.CANCEL"></button>
    </div>

</div>
