<div class="list-devices">
    <div class="list-group">
        <div ng-if="appsListCtrl.editable">
            <a class="pull-right btn btn-sm btn-default ng-scope" data-ng-click="appsListCtrl.appSelectionFn()">
                <span translate="apps.SETRELATION"></span>
            </a>
            <a class="pull-right btn btn-sm btn-default ng-scope" data-ng-click="appsListCtrl.appCreateInline()">
                <span translate="apps.ADD"></span>
            </a>
        </div>
        <div class="alert alert-warning" translate="devices.NOAPPSRELATED" ng-if="appsListCtrl.editable && !appsListCtrl.apps.length"></div>

        <div ng-if="appsListCtrl.apps.length" data-ng-repeat="app in appsListCtrl.apps | filter:appsListCtrl.searchText" data-ng-click="appsListCtrl.selectFn(app)" class="list-group-item" ng-class="{active: app._id === appsListCtrl.selected._id}">
            <h4 class="list-group-item-heading">
                <span data-ng-bind="app.name"></span>
                <span ng-if="appsListCtrl.editable" data-ng-click="appsListCtrl.removeAppFn(app)" style="float:right"><i class="glyphicon glyphicon-trash"></i></span>
            </h4>
        </div>
    </div>
</div>
